@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*{
    background-color: rgb(255, 255, 255);
}